
* {
    margin: auto;
    padding: auto;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: hidden;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.homebutton {
    position: fixed;
    display: block;
    font-size: 5rem;
    opacity: 0.75;
    z-index: 1;
    margin: 1rem;
}

.homebutton i {
    color: white;
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

/*phone 320px*/

body {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.title {
    height: 100dvh;
    display: block;
    text-align: center;
    background-image: linear-gradient(rgba(255, 241, 191, 0.55)), url("titlepics/titlescreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    place-content: center;
}
.title h1 {
    font-size: 5rem;
    padding-top: 40%;
    padding-bottom: 0.7em;
}

.initia {
    text-decoration: none;
}

.title img {
    height: 1.5em;
    border-radius: 50%;
}

.initia {
    background-color: #A60F1B;
    color: #FFF1BF;
    font-size: 2rem;
    padding: 1em 2em;
    border-radius: 1.2em;
    border: solid 1px; 
    border-color: #400308;
}

.main {
    display: flex;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100vh;
}

#info {
    display: block;
    flex: 1 0 100%;
    background-color: #400308;
    height: 100%;
}

.infocontainer {
    color: #dbc05d;
    height: 80%;
    max-width: 100vw;
    font-size: 5rem;
    place-content: center;
}

.infocontainer h1 {
    padding-top: 15%;
    text-align: center;
    max-width: 80%;
}

#infocontainer7 .count {
    padding-top: 0;
}

#infocontainer7 .polaroid {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.und {
    text-decoration: underline;
    font-size: 1em;
}

.polaroid {
    font-size: 1rem;
    margin-top: 4vh;
    max-width: 70vw;
    max-height: 65%;
    background-color: #f6f6f6;
    text-align: center; 
    padding: 5%;
    padding-bottom: 12vh;
    border-radius: 2px;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.5);
    overflow: scroll;
}

.polaroid img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: rgb(51, 51, 51);
}

.controller {
    height: 13%;
    display: flex;
    border-top: solid;
    border-width: 2px;
    border-color: #dbc05d;
    align-items: center;
}

.next {
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #dbc05d;
    color: #400308;
    padding: 1em 2em 1em 2em;
}

.timeline {
    display: flex;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100vh;
}

.timmain {
    display: block;
    flex: 1 0 100%;
    background-color: #dbc05d;
    height: 100%; 
}

.timelinecontainer {
    color: #A60F1B;
    height: 80%;
    max-width: 100vw;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timelinecontainer .polaroid {
    margin-top: 0;
    max-width: 80%;
    flex: 0 0 80%;
}

.timelinecontainer h1 {
    max-width: 80%;
}


.polaroid p {
    max-width: 95%;
    font-size: 2rem;
    margin-top: 10%;
    color: black;
    text-align: justify;
}

.timnext {
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #701018;
    color: #dbc05d;
    padding: 1em 2em 1em 2em;
}

.timcontroller {
    height: 15%;
    display: flex;
    border-top: solid;
    border-width: 2px;
    border-color: #A60F1B;
}

.igtim {
    display: flex;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100vh;
}

.igtim .timmain {
    background-image: url(bg/avocado.jpg);
    color: #701018;
}

.igtim .timcontroller {
    border-color: #69863b;
    background-color: #69863b;
}

.igtim .timnext {
    background-color: #ecf3af;
    color: #400308;
    border-style: solid;
    border-width: 4px;
    border-color: #91b459;
}

.blocker {
    background-color: #69863b;
    height: 5%;
}

.igtim h1 {
    color: #526e25;
}

.slider {
    position: relative;
    margin: 0 auto;
    max-width: 90%;
}

.slideshow {
    display: flex;
    aspect-ratio: 1 / 1;
    overflow-x: hidden;
    scroll-snap-type: x-mandatory;
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth;
    background-color: rgb(51, 51, 51);
}

.slideshow img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
}

.slidenav {
    position: absolute;
    display: flex;
    column-gap: 1rem;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slidenav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #91b459;
    opacity: 0.75;
    transition: 250ms;
}

.slidenav a:hover {
    background-color: #203007;
}

#timelinecontainer11 {
    background-image: none;
    background-color: #203007;
}

#timelinecontainer12 {
    background-image: none;
    background-color: #203007;
}

#intimatecontainer1 {
    background-color: #6b313c;
    color: #eb899f;
}

#intimatecontainer1 h1 {
    color: #eb899f;
}

.lovetim { 
    display: flex;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100vh;
}

.lovetim .timmain {
    background-color: #6b313c;
    color: #eb899f;
}

.lovetim h1 {
    color: #eb899f;
}

.lovetim .timnext {
    background-color: #b65165;
    color: white;
}

.lovetim .timcontroller {
    border: none;
    border-color: #eb899f;
}


.inticontainer {
    background-image: url('bg/bg.jpg');
    height: 80%;
    max-width: 100vw;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inticontainer h1 {
    max-width: 80%;
    color: #a4565c;
}

.inticontainer .polaroid {
    margin-top: 0;
    max-width: 80%;
    flex: 0 0 80%;
}

#inticontroller {
    background-color: #fed3e7;
}

#intiblocker {
    background-color: #fed3e7;
}

.reltim {
    display: flex;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100vh;
}

.reltim .timelinecontainer {
    background-image: url('bg/bg.jpg');
}

.reltim .timcontroller {
    background-color: #fed3e7;
}

.reltim .timnext {
    background-color: #b65165;
    color: white;
}

.reltim .blocker {
    background-color: #fed3e7;
}

.reltim .slidenav a {
    background-color: #d65591;
    border-style: solid;
    border-width: 2px;
    border-color: #972359;
}

.reltim .slidenav a:hover {
    background-color: #972359;
}

.polaroid video {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: rgb(51, 51, 51);
}

.letter {
    height: 100dvh;
    background-color: #ecf3af;
    max-width: 100vw;
    overflow: scroll;
    display: block;
}

.letterbody {
    font-size: 4rem;
    max-width: 85%;
    margin-top: 15%;
    overflow: scroll;
    scrollbar-width: 2px;
    height: 80%;
}


.letterbody p {
    text-align: justify;
    text-indent: 4rem;
}

.end {
    text-align: right;
}

.letter .timcontroller {
    height: 10%;
}

.letter a {
    background-color: #A60F1B;
    color: white;
}

.summary {
    background-image: linear-gradient(rgba(255, 241, 191, 0.55)), url("titlepics/titlescreen.jpg");
    background-size: cover;
    height: 100dvh;
    max-width: 100vw;
}

.summarybody {
    margin-top: 3rem;  
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
}

.summarybody h1 {
    font-size: 1.5em;
    text-align: center;
    color: #d74551;
}

.summarybody p span {
    font-weight: 600;
    color: #301517;
    font-size: 1em;
}

.polaroidholder {
    max-width: 90%;
    display: flex;
}

.minipolaroid {
    width: 50%;
    padding: 1rem 1rem 4rem 1rem;
    text-align: center;
    background-color: white;
    aspect-ratio: 1 / 1;
    margin: 1rem;
    overflow: scroll;
    height: 60%;
}

.polaroidholder img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.minipolaroid p {
    font-size: 1.5rem;
}

.summary a {
    background-color: #c02632;
}

.finish {
    background-image: linear-gradient(rgba(255, 241, 191, 0.55)), url("titlepics/titlescreen.jpg");
    background-size: cover;
    height: 100dvh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.finish h1 {
    font-size: 4rem;
    flex: 0 1 auto;
    margin-bottom: 1rem;
}

.finish p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.finish a { 
    text-decoration: none;
    background-color: #A60F1B;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 2.5rem;
    border-radius: 4rem;
}

.finishcontainer {
    height: 50%;
    place-content: center;
}