
* {
    margin: auto;
    padding: auto;
    font-size: 100%;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: hidden;
}

/*phone 320px*/

body {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.title {
    min-height: 100vh;
    display: block;
    text-align: center;
    background-image: linear-gradient(rgba(255, 241, 191, 0.55)), url("titlepics/titlescreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.title h1 {
    font-size: 4.2rem;
    padding-top: 30vh;
    padding-bottom: 0.7em;
}

.initia {
    text-decoration: none;
    
}

.title img {
    height: 1em;
    border-radius: 50%;
}

.initia {
    background-color: #A60F1B;
    color: #FFF1BF;
    font-size: 2em;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    border: solid 2px; 
    border-color: #400308;
}

.main {
    display: flex;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    overflow-x: hidden;
    scrollbar-width: none;
    max-height: 100vh;
}

#info {
    display: block;
    flex: 1 0 100%;
    background-color: #400308;
    min-height: 100vh;
}

.infocontainer {
    color: #dbc05d;
    height: 90%;
    max-width: 100vw;
    font-size: 3rem;
    display: block;
}

.controller hr {
    border-color: #dbc05d;
}

.infocontainer h1 {
    padding-top: 10vh;
    text-align: center;
    max-width: 80vw;
}

#infocontainer7 .count {
    padding-top: 0;
}

#infocontainer7 .polaroid {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.und {
    text-decoration: underline;
}

.polaroid {
    font-size: 1rem;
    margin-top: 4vh;
    max-width: 70vw;
    min-height: 65vh;
    background-color: #f6f6f6;
    text-align: center; 
    padding: 5%;
    padding-bottom: 12vh;
    border-radius: 2px;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.5);
}

.polaroid img {
    max-width: 100%;
}

.controller {
    min-height: 10%;
    text-align: right;
    display: flex;
    border-top: solid;
    border-width: 2px;
    border-color: #dbc05d;
}

.next {
    font-size: 1rem;
    text-decoration: none;
    background-color: #dbc05d;
    color: #400308;
    padding: 1em 3em 1em 3em;

}

.back {
    font-size: 1rem;
    text-decoration: none;
    background-color: #dbc05d;
    color: #400308;
    padding: 1em 3em 1em 3em;

}
